  body {
            font-family: 'Segoe UI', Arial, sans-serif;
            margin: 0;
            background: #f8fafc;
        }

        header {
            background: linear-gradient(135deg, #065f46, #10b981);
            color: white;
            padding: 30px 20px;
            text-align: center;
        }

        header h1 {
            margin: 0;
            font-size: 32px;
        }

        header p {
            margin-top: 8px;
            font-size: 16px;
        }

        section {
            padding: 20px;
            max-width: 800px;
            margin: auto;
        }

        h2 {
            color: #065f46;
        }

        .box {
            background: white;
            padding: 18px;
            margin: 15px 0;
            border-radius: 12px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.08);
            line-height: 1.6;
        }

        .btn {
            display: inline-block;
            margin-top: 10px;
            padding: 10px 15px;
            background: #10b981;
            color: white;
            text-decoration: none;
            border-radius: 6px;
            font-weight: bold;
        }

        .btn:hover {
            background: #059669;
        }

        footer {
            background: #065f46;
            color: white;
            text-align: center;
            padding: 15px;
            margin-top: 20px;
        }

       .slider {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 350px; /* fixed height */
    margin: 20px auto;
    background: #000; /* nice background for empty space */
    border-radius: 12px;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;
    object-fit: contain; /* 🔥 KEY LINE */
    display: none;
}

.slide.active {
    display: block;
}


.main-header {
    background: linear-gradient(135deg, #ca170b, #e309eb);
    color: white;
    padding: 40px 20px;
    text-align: center;
}

/* .header-content {
    flex-direction: column;
} */

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.logo {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 60%;
    background: white;
    padding: 5px;
}

.header-text h1 {
    margin: 0;
    font-size: 26px;
}

.header-text p {
    margin: 5px 0 0;
    font-size: 14px;
}

.brand-title {
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0;
    color: #ffffff;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}